<!DOCTYPE html>
<meta name="robots" content="noindex">
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Glorat's STT tools</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="styles/main.css">
  <style id="jsbin-css">
    .skill { width: 3.5em }
    .crit { width: 2.5em }
  </style>
</head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
<script src="app.js"></script>
<script src="got.js"></script>
<script src="combinatorics.js"></script>
<script src="gauntlet.js"></script>
<script src="shuttle.js"></script>

<body ng-app="myApp" ng-controller="GotCtrl as vm" class="container-fluid">
<div class="container">
  <div class="header">
    <h1 class="text-muted hidden-xs">Glorat's Star Trek Timelines tools</h1>
  </div>
  <div>
    <uib-tabset active="active">
      <uib-tab index="0" heading="Shuttle Calc">
        <shuttle-calc></shuttle-calc>
      </uib-tab>
      <uib-tab index="1" heading="Gauntlet Optimizer">
        <gauntlet-calc></gauntlet-calc>
      </uib-tab>
      <uib-tab index="2" heading="Console">
        <p>This is an unfinished preview feature! It is a web version of a rather useful Discord bot</p>
        <form ng-submit="vm.sendCommand()">
          <input type="text" name="command" ng-model="vm.command">
          <input type="submit">
        <pre ng-bind-html="vm.commandResult.message"></pre>
        <div class="panel panel-default">
          <header class="panel-heading">{{vm.embed.title}}</header>
          <div ng-repeat="field in vm.embed.fields">
            <h3>{{field.name}}</h3>
            <pre>{{field.value}}</pre>
          </div>
        </div>
        <pre class="bg-error" ng-show="vm.commandResult.error">{{vm.commandResult.error}}</pre>
        <div ng-repeat="cmd in vm.commands" class="panel panel-default" style="margin-bottom: 0px;">
          <header class="panel-heading" style="cursor: pointer; padding: 3px 15px;" ng-click="vm.showPanel = cmd.name">{{cmd.name}}</header>
          <div ng-show="vm.showPanel === cmd.name">
            <div>{{cmd.desc}}</div>
            <div ng-repeat="arg in cmd.args">
              <input type="text" placeholder="{{ arg.name }}" ng-model="arg.value" ng-change="vm.onCmdChange(cmd.name)"> {{ arg.desc}}
            </div>
            <div ng-repeat="flag in cmd.flags">
              <input type="text" placeholder="{{ flag.name }}" ng-model="flag.value" ng-change="vm.onCmdChange(cmd.name)"> {{ flag.desc}}
            </div>
          </div>
        </div>
        </form>
      </uib-tab>
    </uib-tabset>
  </div>

  <div class="footer">
    <p><span class="glyphicon glyphicon-heart"></span>Copyright Kevin Tam 2017</p>
  </div>
</div>
</body>
</html>
