<div class="section">
  <p>
  Welcome to Glorat's Got Bot, your friendly borg-inspired bot to help you with various facets of Star Trek Timelines. Use the nav bar on the left to explore the various functions.
  </p>
  <p>
    I would also offer my thanks to the following
    <ul>
  <li>
    Guardians of Tomomrrow fleetmates for being part of the best fleet ever!
  </li>
  <li>Silverstorm of Discord STT chat for inspiring the Discord bot</li>
  <li>Izausome for his awesome site</li>
  <li>All the stt.wiki contributors who create the input that this bot assimilates</li>
</ul>
  </p>
</div>
