<p>Shuttle success calculator</p>

<table>
  <tr ng-repeat="shuttle in vm.shuttles">
    <th>Slot {{ $index +1}}</th>
    <td>
      <input type="text" size="4" ng-model="shuttle.base1">
      <select ng-options="sk for sk in vm.skills" ng-model="shuttle.skill1"></select>
      <select ng-options="sk for sk in vm.shuttleTypes" ng-model="shuttle.type"></select>
      <span ng-hide="shuttle.type==='single'">
              <input type="text" size="4" ng-model="shuttle.base2">
      <select ng-options="sk for sk in vm.skills" ng-model="shuttle.skill2"></select>

      </span>
      Multiplier: <select ng-options="m for m in [1,2,3]" ng-model="shuttle.multiplier"></select>
    </td>
  </tr>
  <tr>
    <td></td>
    <td>
      <button ng-click="vm.addShuttle()">Add Shuttle</button>
      <button ng-click="vm.removeShuttle()">Remove Shuttle</button>
    </td>
  </tr>
  <tr>
    <th>Shuttle boost</th>
    <td>
      <select ng-options="m for m in [0,1,2,3,4,5]" ng-model="vm.boost.level"></select>* boost with <select ng-options="sk for sk in vm.skills" ng-model="vm.boost.skill"></select> skill. (+{{ vm.boostLevelToSkill[vm.boost.level] }} skill)
    </td>
  </tr>
  <tr>
    <th>
      VP Reward
    </th>
    <td>
      <select ng-options="sk for sk in vm.vpLevels" ng-model="vm.vpLevel"></select>
    </td>
  </tr>
  <tr>
    <td>
      Shuttle Difficulty
    </td>
    <td>
      {{ vm.difficulty }}
    </td>
  </tr>
  <tr>
    <td>
      Average crew skill:
    </td>
    <td>
      {{ vm.avgSkill }}
    </td>
  </tr>  <tr>
    <td>
      Shuttle Success:
    </td>
    <td>
      <b>{{ vm.success() }}%</b>
    </td>
  </tr>
</table>
<p>Assumptions</p>
<p>The logistics magic number is {{vm.magic}}</p>
<p>Normal chars have a multiplier of 1. "Bonus" chars have a multiplier of 2. "Event" chars have a multiplier of 3</p>
<p>I'm not supporting 0* basic boosts in this calculator</p>
