<p>Shuttle success calculator. Add/remove the necessary slots then enter the skills your crew have. The resultant success % should match the app. Of course we don't know how the real success is calculated on the server but we can only hope they match up</p>

<form class="form-horizontal">
  <div class="form-group" ng-repeat="shuttle in vm.shuttles">
    <div class="col-xs-3">Slot {{ $index +1}}</div>
    <div class="col-xs-6">
      <input class="form-control minime" type="text" size="4" ng-model="shuttle.base1">
      <select class="form-control minime"  ng-options="sk for sk in vm.skills" ng-model="shuttle.skill1"></select>
      <select class="form-control minime" ng-options="sk for sk in vm.shuttleTypes" ng-model="shuttle.type"></select>
      <span ng-hide="shuttle.type==='single'">
        <input class="form-control minime" type="text" size="4" ng-model="shuttle.base2">
        <select class="form-control minime" ng-options="sk for sk in vm.skills" ng-model="shuttle.skill2"></select>
      </span>
    </div>
    <div class="col-xs-3">
      Multiplier: <select class="form-control minime" ng-options="m for m in [1,2,3]" ng-model="shuttle.multiplier"></select>
    </div>
  </div>
  <div class="form-group" >
    <div class="col-xs-3"></div>
    <div class="col-xs-9">
      <button class="btn btn-primary" ng-click="vm.addShuttle()">Add Slot</button>
      <button class="btn btn-primary" ng-click="vm.removeShuttle()">Remove Slot</button>
    </div>
  </div>
  <div class="form-group" >
    <div class="col-xs-3">Shuttle boost</div>
    <div class="col-xs-9">
      <select class="form-control minime" ng-options="m for m in [0,1,2,3,4,5]" ng-model="vm.boost.level"></select>* boost with <select class="form-control minime" ng-options="sk for sk in vm.skills" ng-model="vm.boost.skill"></select> skill. (+{{ vm.boostLevelToSkill[vm.boost.level] }} skill)
    </div>
  </div>
  <div class="form-group" >
    <div class="col-xs-3">
      VP Reward
    </div>
    <td class="col-xs-9">
      <select class="form-control minime" ng-options="sk for sk in vm.vpLevels" ng-model="vm.vpLevel"></select>
    </td>
  </div>
  <div class="form-group" >
    <div class="col-xs-3">
      Shuttle Difficulty
    </div>
    <div class="col-xs-9">
      {{ vm.difficulty }}
    </div>
  </div>
  <div class="form-group" >
    <div class="col-xs-3">
      Average crew skill:
    </div>
    <div class="col-xs-9">
      {{ vm.avgSkill }}
    </div>
  </div>
  <div class="form-group bg-primary" >
    <div class="col-xs-3">
      Shuttle Success:
    </div>
    <div class="col-xs-9">
      <h1>{{ vm.success() }}%</h1> <span class="" ng-show="vm.avgSkill===0">but the app will display 0% since your shuttle has no skill</span>
    </div>
  </div>
</form>

<div class="panel panel-default">
  <header class="panel-heading">Assumptions</header>
  <div>
    <p>The logistics magic number is {{vm.magic}}</p>
    <p>Normal chars have a multiplier of 1. "Bonus" chars have a multiplier of 2. "Event" chars have a multiplier of 3</p>
    <p>I'm not supporting 0* basic boosts in this calculator</p>
  </div>
</div>
