<div class="scrollable">
  <h1 class="scrollable-header app-name">Got Bot</h1>
  <div class="scrollable-content">
    <div class="list-group" ui-turn-off='uiSidebarLeft' >
      <a class="list-group-item" href="#!/">Home <i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#!/shuttle">Shuttle Success Calculator <i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#!/gauntlet">Gauntlet Optimiser <i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#!/console">Command Console <i class="fa fa-chevron-right pull-right"></i></a>

    </div>
  </div>
  <div class="scrollable-footer section">
    LLAP
  </div>
</div>
